<mat-card *ngIf="customerOrder$ | async as customerOrder">
  <mat-card-header>
    <mat-card-title>
      Order for {{ customerOrder.customerName }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ customerOrder.customerAddress }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
  <app-pizza-list [dataSource]="customerOrder.pizzas"></app-pizza-list>
  </mat-card-content>

  <mat-card-actions align="end">
    <ng-container *ngIf="!customerOrder.fulfilled; else fulfilled">
      <button mat-raised-button color="accent" type="button" (click)="onMarkAsFulfilled()">Mark as Fulfilled</button>
    </ng-container>
    <ng-template #fulfilled>
      Order Fulfilled
    </ng-template>
  </mat-card-actions>
</mat-card>