<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="pizzaTopping">
      <th mat-header-cell *matHeaderCellDef>Topping</th>
      <td mat-cell *matCellDef="let pizza">{{pizza.pizzaTopping.name}}</td>
  </ng-container>
  <ng-container matColumnDef="pizzaBase">
      <th mat-header-cell *matHeaderCellDef>Base</th>
      <td mat-cell *matCellDef="let pizza">{{pizza.pizzaBaseSize.pizzaBase?.name || pizza.pizzaBase.name}}</td>
  </ng-container>
  <ng-container matColumnDef="pizzaBaseSize">
    <th mat-header-cell *matHeaderCellDef>Size</th>
    <td mat-cell *matCellDef="let pizza">{{pizza.pizzaBaseSize.name}} ({{pizza.pizzaBaseSize.inches}}")</td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="null" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>