<mat-toolbar>
        <mat-toolbar-row>
                <span class="app-title" routerLink="/">Slice of Taradise Pizza</span>
                <span class="app-navigation">
                        <button mat-raised-button type="button" routerLink="/customer-orders">View Orders</button>
                        <button mat-raised-button color="primary" type="button" routerLink="/customer-orders/add">New Order</button>
                </span>
        </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
