// :host {
//     width: 100%;
// }

// mat-toolbar {
//     width: 100%;
// }

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

.app-navigation {
    display: flex;
    justify-content: space-between;
    
    button {
        margin-left: 1em;
    }
}