.customer-details-form {
    width: 600px;

    .customer-details-form-item {
      width: 100%;
    }
}

.pizza-selection-form {
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .pizza-selection-form-topping {
    width: 100%;
  }

  .pizza-selection-form-item {
    width: 49%;
  }
}